# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:  
    - uses: actions/checkout@v4
    - uses: swift-actions/setup-swift@v1
      with:
        swift-version: "5.8.1"
    - name: Build
      run: swift build -v
    - name: Run tests
      run: |
        run: swift test -v
      env:
        SQ_LITE_CLOUD_HOST: ${{ secrets.SQ_LITE_CLOUD_HOST }}
        SQ_LITE_CLOUD_PASS: ${{ secrets.SQ_LITE_CLOUD_PASS }}
        SQ_LITE_CLOUD_USER: ${{ secrets.SQ_LITE_CLOUD_USER }}
