# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:  
    - uses: actions/checkout@v4
    - uses: swift-actions/setup-swift@v1
      with:
        swift-version: "5.8.1"

    - name: Setup secrets.json
      run: |
        echo '
        {
            "hostname": "${{ secrets.SQ_LITE_CLOUD_HOST }}",
            "username": "${{ secrets.SQ_LITE_CLOUD_USER }}",
            "password": "${{ secrets.SQ_LITE_CLOUD_PASS }}"
        }
        ' >> Tests/SQLiteCloudTests/Secrets/secrets.json
    
    - name: Build
      run: swift build -v
      
    - name: Run tests
      run: |
        swift test -v 
